{% extends 'core/base.html' %}

{% block contenido %}
{% load static %}

<section class="bg-dark text-white pt-5 mt-5">
    <div class="container containerf">
        <h2 class="text-center display-4 mb-5 fw-bold">
            <span>
                GALERÍA DE SERVICIOS
            </span>
            <i class="bi bi-images text-warning"></i>
        </h2>
        <div class="row d-flex  ">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/slide 1.jpg'%}" width="400" height="400" alt="">
                    <div class="overlay">
                       <h2>OFICINA SALITRERA HUMBERSTONE</h2>
                       <p class="textf mx-3 fw-bold">Las oficinas salitreras Santiago Humberstone y Santa Laura son dos antiguas oficinas salitreras, actualmente las más conocidas, están administradas por la Corporación Museo del Salitre y declaradas Monumentos Nacionales y Patrimonio Cultural de la Humanidad.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/eJ_Z7c_OEps" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4 ">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal2.jpg'%}" width="400px" height="400" alt="">
                    <div class="overlay">
                       <h2>La cocha - pica</h2>
                       <p class="textf mx-3 fw-bold">Es una terma conocida como cocha, esta enmarcada en dos socavones naturales hechos de roca volcánica, con las condiciones adecuadas para recibir al turista. La temperatura del agua varia entre 27º y 30º C.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/-I6frWG1cGY" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal3.jpg'%}" width="400px" height="400" alt="">
                    <div class="overlay">
                       <h2>Parapente Vuela en Iquique</h2>
                       <p class="textf mx-3 fw-bold">Aventura de principio a fin, sobrevolando la montaña, Duna El Dragón, ciudad y nuestro Océano Pacifico, con una vista única y privilegiada. Disfrutaras de un vuelo seguro y lleno de buenas emociones.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/-s0zjzWwWGA" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/slide 4.jpg'%}"
                    width="400px" height="400" alt="">
                    <div class="overlay">
                       <h2>Museo Corbeta Esmeralda</h2>
                       <p class="textf mx-3 fw-bold">El Museo Corbeta Esmeralda es un museo chileno ubicado en la ciudad de Iquique. Consiste en una representación a escala real de la corbeta chilena Esmeralda, hundida en el combate naval de Iquique ocurrido en 1879</p>
                       <a class="textf btn btn-primary fw-bold" href="" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/slide 2.png'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Turismo Aventura Yalane</h2>
                       <p class="textf mx-3 fw-bold">El turismo de aventura es un tipo de turismo que implica exploraciones o viajes con una percepción de riesgos, y que potencialmente requiere de destrezas especiales o de ciertas condiciones físicas donde es común la práctica de algún deporte extremo.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/MNQiL-qE5Ro" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal5.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Turismo agricola Suca</h2>
                       <p class="textf mx-3 fw-bold">Agroturismo: Se entiende como la modalidad turística en áreas agropecuarias, donde la sociedad campesina muestra y comparte su idiosincrasia y técnicas agrícolas; además de su entorno natural en conservación, las manifestaciones culturales y socio-productivas, en beneficio de la expansión de su actividad económica</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/wh8lRISj1KI" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal6.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Geoglifos de Pintados</h2>
                       <p class="textf mx-3 fw-bold">Los geoglifos de Pintados se ubican en la Pampa del Tamarugal, en la Región de Tarapacá. Están emplazados aproximadamente a 95 kilómetros de distancia de la ciudad de Iquique, en la comuna de Pozo Almonte. En este lugar se han identificado más de 60 paneles los que incluyen alrededor de 450 figuras,</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/zRNfV3_0Hkc" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal7.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Parque Nacional Volcán Isluga</h2>
                       <p class="textf mx-3 fw-bold">Entre volcanes, lagunas y cerros sagrados del pueblo aymara se encuentra el Parque Nacional Volcán Isluga, una área silvestre que alberga una de las mayores concentraciones de biodiversidad de fauna como la tagua andina, vicuñas, flamencos y suri. </p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/bcjF70R6f3k" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal8.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>la Laguna Roja</h2>
                       <p class="textf mx-3 fw-bold">ubicada en la Región de Arica y Parinacota, la misma permaneció inexplorada hasta el año 2009, se encuentra a aproximadamente 3700 metros sobre el nivel del mar, la profundidad de la misma  es desconocida, ya que los habitantes de la zona dicen haber visto perecer a algunos que bebieron de sus aguas.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/Q07gAaiSyX4" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal10.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Termas de Mamiña</h2>
                       <p class="textf mx-3 fw-bold">Ubicadas en lo que, según evidencias arqueológicas, fue un antiguo asentamiento indígena preincaico del norte de Chile, las Termas de Mamiña son una excelente alternativa para quienes disfrutan de la vida natural, de la aventura, del sol y de los paisajes desérticos. Instaladas en lo alto de un valle.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/futLMl3vcAo" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="{%static 'core/img/gal12.jpg'%}" alt="" width="400px" height="400">
                    <div class="overlay">
                       <h2>Mall Zofri</h2>
                       <p class="textf mx-3 fw-bold">Mall Zofri es el Centro Comercial ZOFRI, dentro del barrio industrial de Zona Franca de Iquique, en la Región de Tarapacá, en el extremo norte de Chile, instalado hace 40 años, que cuenta con 7 etapas construidas, 4 niveles de estacionamientos, y un gran patio de comidas.</p>
                       <a class="textf btn btn-primary fw-bold" href="https://youtu.be/hh3_hoQE5-w" role="button">ver más</a>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        

    </div>
</section>


{% endblock %}