{% extends 'core/base.html' %}

{% block contenido %}
{% load static %}
  <!------------------------------------carousel------------------------------------------>
  <section class="mt-5 col-12 ">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <!--interno-->
            <div class="carousel-item active">
                <img src="{% static 'core/img/slide 1.jpg' %}" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!--oculto en pantallas pequeñas-->
                    <h5>OFICINA SALITRERA HUMBERSTONE</h5>
                    <p>50 km al este de Iquique, Tarapacá, Tamarugal, Pozo Almonte.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/slide 2.png'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Turismo agrícola y aventura Yalane</h5>
                    <p>Miñi Miñe se ubica en el límite Norte la Comuna de Huara, Provincia del Tamarugal, Región de
                        Tarapacá.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/slide 3.jpg'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>TOUR OASIS DE PICA</h5>
                    <p>Oasis de Pica y Matilla – Pueblo de La Tirana.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/slide 4.jpg'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Museo Corbeta Esmeralda</h5>
                    <p>El Museo Corbeta Esmeralda es un museo chileno ubicado en la ciudad de Iquique.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!----------------------------------end carousel-------------------------------------->
<!--------------------------------------Main------------------------------------------>
<main class="bg-dark text-white py-5">
    <div class="container">
        <h2 class="text-center display-4 mb-5 fw-bold">
            <span>
                DESCUBRE LOS ATRACTIVOS DE NORTE
            </span>
            <i class="bi bi-geo-alt-fill text-danger"></i>
        </h2>
        <div class="row align-items-center">
            <div class="col-12 col-lg-5 ">
                <h3>Zona norte - Iquique.</h3>
                <hr>
                <p class="h5">Iquique es conocida como la “Tierra de campeones” y si visitas el norte chileno, no
                    puedes dejar de visitar la capital de la Región de Tarapacá. Gracias a los vientos que
                    predominan en este sector, se puede practicar parapente los 365 días del año y disfrutar las
                    vistas de Iquique desde las alturas. Si prefieres los deportes náuticos, puedes practicar surf
                    en la playa Cavancha y si te gusta la aventura en tierra, hacer sandboard en las dunas del cerro
                    Dragón también se han vuelto uno de los imperdibles si estás en la ciudad.</p>
                <a href="https://chile.travel/donde-ir/norte-desierto-atacama/iquique"><button
                        class="btn btn-primary mb-5 mb-lg-0 dis">
                        <p class="h6 fw-bold ">
                            Ver más...
                        </p>
                    </button></a>
            </div>
            <div class="col-12 col-lg-7">
                <div class="hovereffect">
                    <img src="{% static 'core/img/slide 6.jpg'%}" alt="" class="img-fluid rounded">
                    <div class="overlay">
                        <p class="py-5 m-2 ">Playa y desierto son los atractivos turísticos principales que hacen de
                            Iquique y de la Región de Tarapacá en un destino imperdible para visitar durante tus
                            vacaciones. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!------------------------------------end Main---------------------------------------->
<!---------------------------------Es bonito Soñar------------------------------------>
<section class="bg-dark text-white py-5">
    <div class="container  ">
        <h2 class="text-center display-4 mb-5 fw-bold">
            <span>
                Incursio App ya esta disponible.
            </span>
            <i class="bi bi-joystick text-danger"></i>
        </h2>
        <div class="row align-items-center mx-auto">
            <div class="col-12 col-lg-4">
                <div>
                    <h5 class="text-white">
                        <span class="badge bg-primary">
                            nuevo
                        </span>
                        Prueba nuestra nueva app de turismo
                    </h5>
                    <h2 class="display-5 fw-bold my-5">
                        Todos los servicios de turismo en un solo lugar<span class="text-primary">.</span>
                    </h2>
                    <p class="mb-4">
                        Dile adios a la guia tradicional y disfruta todos los beneficios de una guia 100% Digital
                    </p>
                    <a href="https://play.google.com/store?hl=es&gl=US" class="btn btn-primary">Descargala ya</a>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="content">
                    <img src="{% static 'core/img/app1.png'%}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------end Dream-------------------------------------->
<!---------------------------------api------------------------------------>

    

    <div class="bg-dark text-white">

    <p class="text-center  display-4 mb-5 fw-bold"> Aprovecha los feriados de este año y disfruta de unas pequeñas vacaciones por el norte de Chile </p>
    <hr>
    <div id="caja">
        <h3>Último feriado de la búsqueda es :</h3>
            <p id="feriado"></p>
            <br>
        
        
        <br><br>
    
   
        <button type="button" id="enviar">Cargando datos</button>
    </div>
    <br><br>

    <table class="table text-white "  id="fechas">
        <thead >
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
                <th scope="col">Irrenunciable</th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>

</div>

{% endblock %}